tools/bin/
*.out
*.dat
*.o
*.a
*.swo
*.swp
*tester
*.out
*Tetris*
projects/software/cpp/compiler/tests/data/*.xml
projects/software/cpp/compiler/tests/data/ArrayTest/*.xml
projects/software/cpp/compiler/tests/data/ExpressionLessSquare/*.xml
projects/software/cpp/compiler/tests/data/Square/*.xml
